*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: #faf8f8;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.logo{
    font-size: 2rem;
}
.logo span{
    color: rgb(245, 84, 86);
}
.nav-part2{
    display: flex;
    gap: 5vw;
}
.navbar a{
    font-size:1.1vw ;
    color: rgb(3, 3, 3);
    text-decoration: none;
}
.navbar i{
    font-size: 1.4vw;
    color: rgb(19, 19, 19);
    align-items: center;
    text-align: center;
    display: none;
   
}
.navbar button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color:rgb(245, 84, 86);
    color: rgb(249, 248, 248);
    border: none;
    border-radius: 5px;
    font-weight:600;    
}
/*Profile section*/
.container {
    top: 0;
    background: white;
    min-height: 50vh;
    text-align: left;
    position: relative;
    display: flex;
  }
  h1
   {
      font-size: 3rem;
  }
  .left{
    width: 55%;
    height: 100%;
    padding: 5vw 4vw;
  }
  .left h1 span {
    color: rgb(245, 84, 86);
    font-size: 2.5rem;
  }
  .left p{
    font-size: 1.2vw;
    color: rgb(67, 64, 64);
    margin-bottom: 1vw;
    line-height: 1.7;
  }
  .container button{
    font-size: 1vw;
    padding: 10px 16px 10px 16px;
    background-color:rgb(245, 84, 86);
    color: #fff;
    border: none;
    border-radius: 5px; 
    margin-left: 10%;
  }
  .container button a{
    text-decoration: none;
    color: white;
  }
  .right{
    display: flex;
    float:right ;
    width: 45%;
    height: 100%; 
  }
  .right img{
    width: 100%;
    height: 100%; 
  }
  @media (max-width:800px) {
    .logo{
        font-size: 1.5rem;
    }
    .navbar{
        padding: 0 6vw;
        height: 60px;
    }
    .navbar h2{
        font-size: 5.1vw;
    }
    .navbar a{
        display: none;
        font-size: 4vw;
    }
    .navbar button{
        display: none;
    }
    .navbar i{
        display: block;
        font-size: 4.5vw;
        font-weight: 800;
    }
    .container{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .right{
        width: 100%;
        height: 55%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 4vw;
        width: 90%;
        margin-top: 5vw;
        margin-bottom: 8vw;
    }
    .container button{
        padding: 3vw 6vw ;
        border-radius: 3px;
        font-weight: 600;
        font-size: 3.5vw;
    }
    
}